@font-face {
    font-family: "Roboto";
    src: url("../fonts/RobotoFlex.ttf");
}

body{
    background-color: rgb(176, 176, 176) !important;

}

:root{
    font-size: 16px;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}


.menu{
    display: flex;
    list-style-type: none;
    gap: 10px;
    grid-gap: 10px;
    align-items: center;
    height: 100%;
    
}
.menu__item a {
    color: black;
    text-decoration: none;

}

.menu__item.active a, .menu__item a:hover{
    text-decoration: underline double;

}





.contenedor{
    justify-content: center;
    text-align: center;
}



@media (width < 2000px){
    .contenedor {
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
        "logo           logo"
        "introduccion   desarrollo"
        "productores    nuevas-generaciones";
        gap: 1rem;
        align-items: stretch;
        justify-items: stretch;
    }
}
@media (width < 900px){
    .contenedor {
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
        "logo"
        "introduccion"   
        "desarrollo"
        "productores"    
        "nuevas-generaciones";
        gap: 1rem;
        align-items: stretch;
        justify-items: stretch;
    }
}

.logo-imagen{
    width: 100%;

}


.logo{
    align-content: center;
    grid-area: logo;
    width: 250px;
    background-color: black;
    padding: 5px;
    border-radius: 10px;

}
.introduccion{
    grid-area: introduccion;
    background-color: rgb(68, 68, 68);
    color: orange;
}

.productores{
    grid-area: productores;
    background-color: rgb(68, 68, 68);
    color: orange;
}

.desarrollo{
    grid-area: desarrollo;
    background-color: rgb(59, 59, 59);
    color: aqua;
}

.nuevas-generaciones{
    grid-area: nuevas-generaciones;
    background-color: rgb(59, 59, 59);
    color: aqua;
}


.texto-naranjo{
    color:orange;
}



/* lista de herramientas*/

.lista-oxygen{
    list-style-type: "🎹 ";
    align-content: center;

}



@media (width < 2000px){
    .lista-oxygen {
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
        "teclado"  
        "pad" 
        "controladores"
        "pantalla" 
        "botones" 
        "conectividad";
        gap: 1rem;
        align-items: stretch;
        justify-items: stretch;
    }
}






@media (width < 900px){
    .lista-oxygen {
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
        "teclado  pad controladores"
        "pantalla botones conectividad";
        gap: 1rem;
        align-items: stretch;
        justify-items: stretch;
    }
}



.contenedor2{
    justify-content: center;
    text-align: center;
    padding: 20px;
}


.pie-pagina{
    width: 100%;
    background-color: rgb(74, 74, 74);
    color: white;
}
.pie-pagina .grupo1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;

}
.pie-pagina .grupo1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo1 .box figure img{
    width: 200px;
}

.pie-pagina .grupo2{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;

}

.navbar {
    display: flex;
    justify-content: center;
  }
  
  .container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navbar-brand {
    margin-right: auto;
  }
  
  .navbar-collapse {
    display: flex;
    justify-content: center;
  }
  
  .navbar-nav {
    display: flex;
    justify-content: center;
  }
  


  .nav-item {
    margin: 0 10px;
  }

  .nav-item :hover{
    background-color: orange;
    border-radius: 7%;

}
  body{
    background-color: rgb(176, 176, 176) !important;

}
.header{
    background-color: gray !important;

}
.header2{
    background-color: gray !important;

}

.carousel{
    width: 100%;
}



.card{
    background-color: rgb(214, 214, 214);
    padding: 20px;
    border-radius: 20px;
    justify-content: center;
    
}

html, body {
    height: 100%;
    margin: 0;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  .content {
    flex: 1;
  }
  p{
    text-align: justify;
  }